@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/assets/foto2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    
}
/** Header*/
.section_banner{   
    position: relative;
    height: 100dvh;
        } 
        .title_header{
            font-family: "Roboto", sans-serif;
            color: rgb(140, 35, 136);
            position: absolute;
            width: 80%;
            bottom: 50%;
            left: 50%;
            font-size: 1.5rem;
        }



/**Nav**/
.clase_fondoNav {
    background-color:  #FFCAD4;
    width: 400px;
    padding: 0.7rem 0.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    font-size: 1.25rem;
        .nav_item:link{
            text-decoration: none;
    }
        .nav_item:hover{
            color:rgb(140, 35, 136);
        }

}

/* MAIN */
.contenedor_main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
/**main - fragancias*/
.section_fragancias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    opacity: 70%;
    width: 80%;
    margin: 0 auto;
}
.item_fragancias{
    border: 1px solid #e9e9e9;
    gap: 25px;
        .clase_frag1{
            border-radius: 15px;
            border-style: groove;
            border-color: #40679E;
            width: 300px;
            height: 200px;
        }
}

/**main - contacto**/
.section_contact {
    display: flex;
    width: 80%;
    height: 800px;
    margin: 30px auto;
    margin: auto;
    h2 {
    color: rgb(140, 35, 136);
    padding: 20px;
    }
}

.form_contact {
    display: flex;
    flex-direction: column;
    margin: auto;    
    label{
        color:rgb(140, 35, 136);
    } 
}

.input-field {
    border: 1px solid rgb(140, 35, 136);
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: rgb(140, 35, 136);
}

.input-field:focus {
    outline: 0;
    border-bottom-width: 3px;
}
.gen{
    display: flex;
    gap: 1rem;
    align-items: baseline;
}
.btn-send-message {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 202, 212);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    transition: all 250ms;
    color:rgb(140, 35, 136);
}

.btn-send-message:hover, .btn-send-message:focus {
    background-color: rgb(255, 202, 212);
    color: #FF407D;
}

.quienes_somos{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    background-color: rgba(231, 204, 230, 0.2);
    backdrop-filter: blur (5px);
    color:  rgb(140, 35, 136);
    h2 {
        margin-bottom: 50px;
        font-size: 1.50rem;
        font-weight: 600;
        text-align: center;
  }
  p{
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.5;
  };
}
.preguntas_container {    
    max-width: 800px;
    height: 800px;
    margin: 50px auto 0 auto;
    padding: 2rem;
     h2 {
        margin-bottom: 50px;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        color:  rgb(140, 35, 136);
  }}
  details { 
    background-color: #f6f8fa;
    width:500px;
    margin-bottom: 1rem;   
    border-radius: 8px;  
    border: 1px solid #d8e0e9;
    color:  rgb(140, 35, 136);
    position: relative;  
  }
  details summary {  
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }
  details p {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
    border-left: 2px solid  rgb(140, 35, 136);
  }
  
  details:hover,
  details[open] {
    box-shadow: 3px 3px 10px;
  }
  
  details[open] {
    background:#f6f8fa;
  }
  
  details summary::before {
    position: absolute;
      content: "➤";    
      font-size: 1.75rem;
      top: 10px;
      right: 16px;  
  }
  
  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
     animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }

/**Footer**/
.contenedor_pcipal_footer{
    color:rgb(140, 35, 136);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    padding: 10px;
        .item{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 30%;
        width: 30%;
        margin: 10px;
        padding: 10px;
            iframe{
                width: 250px;
                height: 150px;
                margin-left: 10%;
                margin-top: 10px;
            }
        }
}
.header_footer{
   text-align: center;
   padding-bottom: 10px;

}
.contenedor_menu_footer .footer_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    a:link{
        text-decoration: none;
        color:rgb(140, 35, 136);
    } 
    a:visited{
        color:rgb(140, 35, 136);
    }   
}


@media screen and (max-width:640px) { 
    .section_banner{   
        position: relative;
            } 
            .title_header{
                position: absolute;
                width: 80%;
                bottom: 50%;
                left: 30%;
                font-size: 1rem;
            }
    .item_fragancias{
        width: 250px;
    }
    .section_contact {
        flex-direction: column;
        width: 300px;
        margin-top: 30px;
        height: 700px;   
        .gen{
            gap:0.50rem;
        }
    }   
    .preguntas_container{
        details{
            width: 300px;
        }
    }
    .contenedor_pcipal_footer{
        position: relative;
       flex-direction:column; 
       text-align:center;
       .item{
          width: 100%;
          iframe{
            margin-top: 10px;
            width: 100%;
            height: 200px;
          }
        }
       }
} 

@media screen and (min-width: 640px) and (max-width: 1280px) { 
    .section_fragancias{
        width: 80%;
        display: flex;
        }
  
    .contenedor_pcipal_footer{
        .contenedor_mapa{
            width: 225px;
            height: 164px;
            iframe{
               width: 100%;
               margin-left: 0;
                }
        }
    }
}